/* public/css/estilos.css */

/* Fondo */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #55a5f6, #b3b0dd);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Contenedor principal */
.inicio-contenedor {    
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  text-align: center;
  max-width: 900px;
  margin-bottom: 250px;
  width: 90%;
}

/* Título */
.titulo {
  font-size: 2.4rem;
  margin-bottom: 28px;
  color: #2d3436;
}
.titulo .empresa {
  color: #0984e3;
}

/* Grid de botones */
.botones {
  display: flex;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}

/* Tarjeta botón */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background: #ffffff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 160px;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.18);
}
.card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 12px;
}
.card span {
  font-size: 1.05rem;
  font-weight: 700;
  color: #2d3436;
}


/* Contenedor del login */
.login-contenedor {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.password-container input {
  padding: 14px 45px 14px 14px; /* más espacio a la derecha */
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  user-select: none;        /* evita selección */
  caret-color: transparent; /* oculta el cursor "|" */
}

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario label {
  text-align: left;
  font-weight: bold;
  color: #2d3436;
}

.formulario input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: border 0.2s ease;
}

.formulario input:focus {
  border-color: #0984e3;
}

/* Botones */
.acciones {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.btn-primario {
  background: #0984e3;
  color: white;
}

.btn-primario:hover {
  background: #074ea3;
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
}

.btn-secundario {
  background: #dfe6e9;
  color: #2d3436;
}

.btn-secundario:hover {
  background: #b2bec3;
  transform: translateY(-3px);
}
