/* Contenedor principal */
.registro-contenedor {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  max-width: 500px;
  margin: 40px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Título principal */
.titulo {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #2d3436;
}

/* Subtítulos secciones */
.subtitulo {
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
  color: #0984e3;
  border-bottom: 2px solid #0984e3;
  padding-bottom: 5px;
}

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario label {
  font-weight: bold;
  color: #2d3436;
}

.formulario input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: border 0.2s ease;
}

.formulario input:focus {
  border-color: #0984e3;
}

/* Password container */
.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  padding: 14px 45px 14px 14px; 
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  user-select: none;        
  caret-color: transparent; 
}

.password-container img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-55%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Botón */
.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin-top: 10px;
}

.btn-primario {
  background-color: #3498db;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-primario:hover {
  background-color: #00ffd5;
}

.btn-secundario {
  background-color: #4709f1;
  color: #ddd7d7;
  transition: background-color 0.3s ease;
  text-decoration: none;
  line-height: 38px;
  font-weight: bold; /* para alinear vertical */
}

.btn-secundario:hover {
  background-color: #ee6e05;
}

/* Botón rojo para REGRESAR */
.btn-danger{
  background-color:#dc2626; /* rojo */
  color:#fff;
  text-decoration:none;
}
.btn-danger:hover{
  background-color:#b91c1c; /* rojo más oscuro */
}
.acciones {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}
/* Mensajes de error */
.mensaje-error {
  color: red;
  font-size: 0.9rem;
  margin-top: -5px;
}
